.block-search{
	width:100%;
	text-align:right;
	background:Grey;
	padding:0.4vw 0;
}
.block-search input{
	width:60%;
	height:20px;
}

.block-arctile{
	text-align:right;
	background: url(../img/cloud.jpg) 70%;
	padding:5% 0 2%;
	margin-bottom: 1%;
}

.block-arctile h2{
	text-align: center;	
}
.block-arctile a{
	color:grey;
	text-decoration:none;
	font-size: 1.9vw;
	margin:0 1%;
}
#active{
	color: purple;
}
.block-arctile a:hover{
	color: purple;
}
.block-arctile h2{
	margin:0 0 5%;
}
.block-main{
	display:grid;
    width:100%;
    height:100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
		"main-img main-arct"
		"main-img main-arct"
		"main-img main-arct";
}
.block-main > .main-img{
	grid-area: main-img;
	background:red;
}
.block-main > .main-arct{
	grid-area: main-arct;
	background:gray;
}

.name{
	float:left;
}
.contact{
	float:right;
}