.main {
	background: linear-gradient(to top, lightgray, green);
	width: 80%;
	overflow: hidden;
}

.block {
    display: inline-block;
	width:40%;
    background: white;
    padding: 10px;
	margin: 10px;
}

.text {
	display: inline-block;
	overflow: hidden;
	vertical-align:baseline;
	text-align:right;
	width: 64%;
}

 .lang {
	display: inline-block;
	overflow: hidden;
	font-weight: bold;
	color: white;
	background: red;
	padding: 5px 5px;
	width:30%;
}